[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain-anthropic = "*"
tavily-python = "*"
langgraph-checkpoint-sqlite = "*"
dotenv = "*"
langchain-groq = "*"
langchain-huggingface = "*"
jupyter = "*"
ipywidgets = "*"
bs4 = "*"
langchain-community = "*"
beautifulsoup4 = "*"
lxml = "*"
certifi = "*"
pip-system-certs = "*"
nest-asyncio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
